<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/student-created" method="POST">
      <h2>Create Student</h2>
      <div className="form-control">
        <label htmlFor="name">Name:</label>
        <input type="text" name="name" id="name" />
      </div>

      <div className="form-control">
        <label htmlFor="surname">Surname:</label>
        <input type="text" name="surname" id="surname" />
      </div>

      <div className="form-control">
        <label htmlFor="age">Age:</label>
        <input type="number" name="age" id="age" />
      </div>

      <div className="form-control">
        <label htmlFor="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" />
      </div>

      <div className="form-control">
        <label htmlFor="email">Email:</label>
        <input type="email" name="email" id="email" />
      </div>

      <fieldset>
        <legend>Group:</legend>

        <div className="form-control">
          <input type="radio" name="group" id="group-1" value="TYPE 20"
          checked={group === "TYPE 20"} />
          <label htmlFor="group-1">TYPE 20gr.</label>
        </div>

        <div className="form-control">
          <input type="radio" name="group" id="group-2" value="TYPE 22"
          checked={group === "TYPE 22"} />
          <label htmlFor="group-2">TYPE 22gr.</label>
        </div>

        <div className="form-control">
          <input type="radio" name="group" id="group-3" value="TYPE 23"
          checked={group === "TYPE 23"} />
          <label htmlFor="group-3">TYPE 23gr.</label>
        </div>

        <div className="form-control">
          <input type="radio" name="group" id="group-4" value="TYPE 24"
          checked={group === "TYPE 24"} />
          <label htmlFor="group-4">TYPE 24gr.</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Interests of languages:</legend>

        <div className="form-control">
          <input
            type="checkbox"
            name="interests"
            id="interest-1"
            value="JavaScript"
          />
          <label htmlFor="interest-1">JavaScript</label>
        </div>

        <div className="form-control">
          <input
            type="checkbox"
            name="interests"
            id="interest-2"
            value="Node.js"
          />
          <label htmlFor="interest-2">Node.js</label>
        </div>

        <div className="form-control">
          <input
            type="checkbox"
            name="interests"
            id="interest-3"
            value="Python"
          />
          <label htmlFor="interest-3">Python</label>
        </div>

        <div className="form-control">
          <input type="checkbox" name="interests" id="interest-4" value="PHP" />
          <label htmlFor="interest-4">PHP</label>
        </div>
      </fieldset>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
