<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/grade-created" method="POST">
      <h2>Create Grade</h2>
      <div class="form-control">
        <label htmlFor="grade">Grade</label>
        <input type="number" name="grade" id="grade" />
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
